<div
  class="flex flex-col items-center justify-center h-screen bg-gray-100 dark:bg-gray-800 font-inter transition-all duration-300 ease-in-out"
>
  <div
    class="bg-white dark:bg-gray-700 p-8 rounded-lg shadow-lg text-center max-w-md w-full transition-all duration-300 ease-in-out"
  >
    <!-- Mensaje de bienvenida -->
    <div *ngIf="userName && selectedEmoji" class="mb-6">
      <h1
        class="text-4xl font-bold mb-2 text-gray-900 dark:text-white transition-all duration-300 ease-in-out"
      >
        ¡Hola, {{ userName }}! {{ selectedEmoji }}
      </h1>
      <p
        class="text-gray-600 dark:text-gray-300 transition-all duration-300 ease-in-out"
      >
        Elige una categoría para comenzar el quiz.
      </p>
    </div>

    <!-- Formulario para ingresar nombre y emoji -->
    <div *ngIf="!userName || !selectedEmoji">
      <h1
        class="text-4xl font-bold mb-4 text-gray-900 dark:text-white transition-all duration-300 ease-in-out"
      >
        ¡Bienvenido al Quiz!
      </h1>
      <p
        class="text-gray-600 dark:text-gray-300 mb-6 transition-all duration-300 ease-in-out"
      >
        Ingresa tu nombre y elige un emoji para comenzar.
      </p>

      <!-- Campo para ingresar el nombre -->
      <input
        type="text"
        placeholder="Tu nombre"
        class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:text-white transition-all duration-300 ease-in-out"
        [(ngModel)]="userName"
      />

      <!-- Selector de emojis -->
      <select
        class="w-full px-4 py-2 mb-6 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:text-white transition-all duration-300 ease-in-out"
        [(ngModel)]="selectedEmoji"
      >
        <option value="" disabled selected class="dark:bg-gray-700">
          Elige un emoji
        </option>
        <option
          *ngFor="let emoji of emojis"
          [value]="emoji"
          class="dark:bg-gray-700"
        >
          {{ emoji }}
        </option>
      </select>
    </div>

    <!-- Categorías -->
    <div *ngIf="userName && selectedEmoji" class="grid grid-cols-2 gap-4">
      <button
        *ngFor="let category of categories"
        class="p-4 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition-colors dark:bg-blue-600 dark:hover:bg-blue-700 transition-all duration-300 ease-in-out"
        (click)="selectCategory(category)"
      >
        {{ category }}
      </button>
    </div>
  </div>
</div>
